Package       Version
------------- ------------
cmake         3.18.4.post1
dlib          19.21.0
imutils       0.5.3
numpy         1.19.4
opencv-python 4.4.0.46
pip           20.2.4
PyQt5         5.15.2
PyQt5-sip     12.8.1
PyQt5-stubs   5.14.2.2
scipy         1.5.4
setuptools    50.3.2
